@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Greycliff CF Figma';
  src: url('../../public/fonts/greycliffcf-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF Figma';
  src: url('../../public/fonts/greycliffcf-semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF Figma';
  src: url('../../public/fonts/greycliffcf-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'Greycliff CF Figma';
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
